[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
chalice = "*"
flask = "*"
"boto3" = "*"
faker = "*"
python-docx = "==0.8.4"
pyjwt = "*"

[requires]
python_version = "2.7"
